<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="min-h-screen bg-amber-50">
      <%= render "shared/header" %>
      <main class="mx-auto w-full max-w-screen-2xl px-6 pt-10 pb-20">
        <%= render "shared/flash_message" %>
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
